.mt-50{
    margin-top: 50px;
    padding: 20px;
}
._container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding:20px;
}
.example-card {
  max-width: 400px;
}
img{
    width: 30px;
    height: 30px;
}